body {
    font-family: 'Times New Roman';
    margin-top: 0%;
  
   
    
}


header {
    width: 100%;
    height: 100px;
    background-size:25%;
    background-color: #4ea0ff;
    background-image: url('img/pattern.png');
    background-repeat: repeat-x;
    text-align: left;
}

.logo {
    width: 200px;
    margin-top: 30px;
}

h1{
    font-size: 32px;
    margin-bottom: 0%;

}

span {
    color: #606060;

}

.link {
    text-decoration: none;
    color: #3cb4e7;
}

article {
    font-size: 12px;
}

ul {
    padding-left: 10px;
}


table {
    background-size: contain;
    border-collapse: collapse;

}

table td {
    padding: 15px 10px;

}

th {
	background-color: #20a9e5;
    color: #ffffff;
     
}

tr {
    background-color: #b1e5f2
}

tr.alternate {
    background-color: #fff;
}

.large {
    width: 50%;
}
mark {
  background-color: #ffff00;
  color: black;
}